.ignatka {
  color: rgb(92, 213, 253);
  text-decoration-line: none;
  font-family: "Montserrat", sans-serif;
  font-size: 330%;
  margin-bottom: 0%;
  margin-top: 20%;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 120%;
  width: 70%;
}

.container button {
  color: rgb(92, 213, 253);
  border-color: rgb(92, 213, 253);
  transition: 0.3s;
  font-size: 200%;
}

.container button:hover {
  background-color: rgb(82, 195, 232);
  transition: 0.3s;
}

.tinkoff {
  margin-top: 3%;
  font-size: 100%;
}

.container .b1 {
  border-color: rgb(210, 232, 244);
  color: white;
  border-radius: 15px;
}

.container .b1 b {
  color: rgb(165, 216, 243);
}

.container .b1:hover {
  background-color: grey;
}

.container a {
  text-decoration: none;
}

h3 {
  color: red;
}

img {
  margin-top: -30%;
  margin-left: 75%;
}
